:root {
    --white-color:#fff;
    --text-color:#333;
    --primary-color: #ee4b2b;
    --border-color:#dbdbdb;
    --star-gold-color: #FFCE3E;

    --header-hight:120px;
    --header-navbar:22px;

    --header-with-search-height:calc(var(--header-hight) - var(--header-navbar));
    --header-sort-bar-hight:46px;

}


*{
    box-sizing: inherit;
}

html{
        font-size: 62.5%;
        line-height: 1.6rem;
        font-family: 'Roboto','sans-serif';
        box-sizing: border-box;

}

.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    display: block;
}
.gird_row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
.grid_column-2{ 
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid_column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid_column-3{
    padding-left: 5px;
    padding-right: 5px;
    width: 25%;
}

.grid_column-10{    
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}
.gird-full-width{
    width: 100%;
}


@keyframes media {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

@keyframes fadein{
    from{
        transform: scale(0);
        opacity: 0;
    }

    to{
        transform: scale(1);
        opacity: 1;

    }
}

.modal{
    position:fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: media linear 0.2s;
}
.modal_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    
}
.modal_body{

    margin: auto;
    z-index: 1;
    animation: fadein linear 0.3s;
}



.btn{
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border-radius: 2px;
    font-size: 1.7rem;
    border: none;
    padding: 0px;
    outline: none;
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}


.select-input{
    background-color: var(--white-color);
    width: 200px;
    height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    position: relative;

}
.select-input_label {
    font-size: 1.6rem;
}
.select-input_label-icon{
    color:rgb(131, 131, 131);
    font-size: 1.4rem;
}

/* pagination */
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-left: 0;
}
.pagination-item{
    margin: 0 12px;
}
.pagination-item-active .pagination-item__link{
    background-color: #ee4b2b;
    color: #fff;
    text-align: center;
}
.pagination-item-active .pagination-item__link:hover{
    background-color: #ea6a51;
 
}

.pagination-item-active{
  
}
.pagination-item__link{
/* .pagination_item_link{
    text-decoration: none;
    font-size: 2rem;
    color: #939393;
    display: block;
    min-width: 40px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border-radius: 2px;
} */
/* .pagination_item_icon{

} */

    text-decoration: none;
    color: #939393;
    font-size: 2rem;
    display: block;
    min-width: 40px;
    height: 30px;
    line-height: 30px;
    border-radius: 2px;

}
.pagination-item_icon{

}

/* .pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.pagination_item{
    margin: 0 12px;
}

.pagination_item--active .pagination_item_link{
    background-color: #ee4b2b;
    color: #fff;
}
.pagination_item--active .pagination_item_link:hover{
    background-color: #f07d67;

} */